<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">

    <f:flashMessages />

    <div class="extbasenews-list">
        <f:for each="{news}" as="news">
            <div class="extbasenews-list-single">
                <h4 class="extbasenews-list-single-title">
                    <f:link.action action="show" arguments="{news : news}">{news.title}</f:link.action>
                </h4>
                <span class="extbasenews-list-single-datetime">
                    <f:translate key="tx_extbasenews_domain_model_news.datetime" />{news.datetime}</span>
            </div>
        </f:for>
    </div>

</f:section>